.home{
  /* background-color: green; */
  height: 100vh;
  color: white;
  padding-top: 200px;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}


.container-main{
  border: 1px solid black;
  

  
  height: 60%;
  margin: auto;
  border-radius: 20px;
  margin-top: 50px;
}

.dob{
 width: 40%;  
 margin: auto;
 
}
.btngroup{
  padding: 50px;


}
.horizontal-line{
  border-bottom: 2px solid black;
  width: 25%;
  margin: auto;
  
}
.horizontal-line-active{
  border-bottom: 2px solid #00bf72;
  width: 25%;
  margin: auto;
  
}
.circle{
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.circle-active{
  border: 1px solid #00bf72;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #00bf72;
}
.verification{
  background: linear-gradient(to left bottom,rgb(0, 162, 255),rgb(83, 128, 0));
  height: 100vh;
  color: white;
}